@model IEnumerable<Bupa.Admin.Models.OrderViewModel>
@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Anasayfa</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Toplam Poliçeli Sayısı
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                               @Model.Count()

                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Son 1 Aylık Poliçe Toplamı
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">115,000,234</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-lira-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Bu yıllık Tamamlanan Hedef
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">80%</div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                            <p class="mb-4">
                                DataTables is a third party plugin that is used to generate the demo table below.
                                For more information about DataTables, please visit the <a target="_blank"
                                                                                           href="https://datatables.net">official DataTables documentation</a>.
                            </p>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    
                                                    <th>@Html.DisplayNameFor(model => model.order_id)</th>
                                                    <th>@Html.DisplayNameFor(model => model.customer_name)</th>
                                                    <th>@Html.DisplayNameFor(model => model.order_Date)</th>
                                                    <th>@Html.DisplayNameFor(model => model.product_name)</th>
                                                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                                                  
                                                  
                                                </tr>
                                            </thead>
                                            <tfoot>
                                               
                                                <tr>
                                                     <th>@Html.DisplayNameFor(model => model.order_id)</th>
                                                    <th>@Html.DisplayNameFor(model => model.customer_name)</th>
                                                    <th>@Html.DisplayNameFor(model => model.order_Date)</th>
                                                    <th>@Html.DisplayNameFor(model => model.product_name)</th>
                                                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                                           

                                                </tr>
                                                
                                            </tfoot>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                     
                                                        <td>@Html.DisplayFor(model => item.order_id)</td>
                                                        <td>@Html.DisplayFor(model => item.customer_name)</td>
                                                        <td>@Html.DisplayFor(model => item.order_Date)</td>
                                                        <td>@Html.DisplayFor(model => item.product_name)</td>
                                                        <td>@Html.DisplayFor(model => item.Price)</td>
                                                     

                                                    </tr>
                                                }
                                          


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>



                </div>
                <!-- /.container-fluid -->

      